<div class="people-wraper">
  <div class='vxi-logo-container'>
    <%= link_to image_tag("vxi-logo.png", :alt => 'logo'), {action: 'new', controller: 'contacts'}%>
  </div>

  <div class="people-container">
    <div class="people-container-title">
      PEOPLE OF VXI: FOR PAUL, SUCCESS IS EQUAL PARTS PASSION AND PERSEVERANCE
    </div>

    <div class="people-text-title-date">
      October 3, 2017 By: <spam>webadmin</spam>
    </div>

    <div class="people-image">
      <%= image_tag('blog/Photo-1.jpg') %>
    </div>

    <div class="people-info-container">
      <p>
        The Latin audentes Fortuna adiuvat translates in English as “Fortune comes to the aid of those daring”. This is meant to inspire people bent on persevering no matter what.
      </p>
      <p>
        Known among friends by his nickname ‘Paul’ – the now proud father of two is not one to be easily disheartened; on the contrary, he is the type of person with a strong grasp of what he wants to do, and an even stronger hold on his dreams not one he is inclined to give up – not without a valiant stand, not without a fight that would take everything from him: strength, time, and yes, money too.
      </p>
      <p>
        His sense of perseverance for the things he is passionate about was the reason why he was able to find success in everything that he did, which, in hindsight, is a diverse listing of jobs that illustrates Paul’s bumpy ride towards finally securing stability not just for himself but for his children and wife as well
      </p>
      <div class="people-info-img">
        <%= image_tag('blog/Photo-2-200x300.jpg', alt: 'guitar') %>
      </div>
      <p>
        Paul worked as a musician before becoming a sales assistant and later, mall merchandiser. He was a salesman after that, and aware that his salary at the time wouldn’t be enough to secure his future, he made a bold move and eyed a different career: drive a truck full of fruit cargo around Mindanao.
      </p>
      <div class="people-info-img">
        <%= image_tag('blog/Photo-3-193x300.jpg', alt: 'id') %>
      </div>
      <p>
        Paul didn’t have any prior truck driving experience, but he was neither undeterred nor shy to ask around and ask how. He approached truck drivers in Davao Port, paid P200 and gave eager drivers free lunch for every training session he gets from his newfound mentors. Confident that he finally has sufficient knowledge and skill set, he applied and was hired by FSTA Trucking Inc. in Panacan Davao City, a job that took Paul throughout Bukidnon and Gen. Santos City, mostly.
      </p>
      <p>
        Paul didn’t know he had to give up one of the things important to him in exchange for better pay: time with his daughter.
      </p>
      <div class="people-info-img">
        <%= image_tag('blog/Photo-4-247x300.jpg', alt: 'baby') %>
      </div>
      <p>
        Determined to remedy his current predicament, Paul would again make a radical career shift and set his eyes on an industry brimming with opportunities: business process outsourcing (BPO).
      </p>
      <p>
        Again, Paul resorted to his tried and tested approach: train and prepare using whatever means available to him. He bought cheap English grammar training booklets and read them while waiting for the truck cargo to be unloaded and new cargo loaded for delivery to his next destination. Paul also watched videos online to familiarize himself with the typical Q and A during interviews for a job at a call center. “I even tried memorizing interview answers,” Paul confessed.
      </p>
      <p>
        Perhaps his moment of greatest daring was when he decided to use the remaining savings he and his wife has to enroll for a 100-hour call center training, a move his wife didn’t take sitting down, adamant in the belief that the money could have been put to good use if only Paul would just stick to driving trucks which kept him on the road on all but two days of every month.
      </p>
      <p>
        Bereft of any promise or guarantee that his investment will pay off, Paul soldiered on nonetheless, humble but determined, convinced that he would soon reap the fruits of his sacrifice. After completing the training, Paul was offered a job by the same local call center that trained him. Paul knew that life is slowly turning around for the better.
      </p>
      <p>
        But for Paul, the best part of winning this long, uphill battle was finally finding a place that he would call home: VXI.
      </p>
      <p>
        “After more than a year working for a local call center company, I was finally confident that I have what it takes to become part of VXI, so I applied and got in!” Paul enthused.
      </p>
      <p>
        With VXI, Paul and his wife finally had the financial means not just to pay for their needs, but also to plan ahead and save money for long-term plans, which include buying a house they can call their own, and being able to send their children to a good school. “I really want my kids to have a good education,” Paul said.
      </p>
      <div class="people-info-img">
        <%= image_tag('blog/Photo-5-300x169.jpg', alt: 'baby') %>
      </div>
      <p>
        Paul, whose firstborn is now 12 years old while his youngest is aged 7, finally has the best of both worlds – financial security and time with his children. “Every Tuesdays and Wednesdays, I get to bring them to school myself. During the weekends, we are together at home or somewhere for our regular family bonding experience,” Paul said.
      </p>
      <p>
        He added: “If I can have it my way, I will work here for the rest of my life. And with me working here at VXI, I can see a bright future for my family, especially for my children. That is all I ever dreamed of having.”
      </p>
      <p>
        Good fortune for Paul and his family, finally.
      </p>
      <div class="people-info-img">
        <%= image_tag('blog/Photo-6-169x300.jpg', alt: 'baby') %>
      </div>
      <div class="space-bottom">
      </div>
    </div>
  </div>  
</div>
