<% imgsPath = get_imgs_helper %>
<%= react_component 'FormImgContainer', {imgs: imgsPath, 
      contact: @contact, sites: @sites, edu_levels: @edu_levels, 
        job_experience: @experience, postitions: @positions  } %>

<div class="passion-people-wraper">
  <div class="passion-people-table">
    <div class="passion-people-table-left">
      <%= image_tag('intro-title.png', alt: 'passion for people') %>
    </div>
    <div class="passion-people-table-right">
      <p>
        Our story started in Los Angeles in 1997 as an Integrated Customer Contact Center that specializes in Multilingual Solutions. Our founders believed that a unique blend of Technology and Customer Service will ultimately achieve Excellent Consumer Management.
      </p>
      <p>
       VXI Philippines was established in 2003 and since then, our road to success continues to soar. In fact, we are now 12,000 employees strong across Metro Manila and Davao. But we do not stop there. We are continuously looking for new talents that will join our journey, and together, we build a great culture, create success stories and take amazing care of our people.
      </p>
      <%= react_component 'GetInTouch' %>
    </div>
  </div>
  <div class="air-plane-wraper">
    <%= image_tag('airplane2.png', alt: 'airplane') %>
  </div>
  <div class="air-plane-wraper-left">
    <%= image_tag('airplane1.png', alt: 'airplane') %>
  </div>
</div>

<div class="cust-sales-tech-wraper">
  <div class="cust-sales-tech-wraper-info">
    <div class="cust-sales-tech-wraper-title">
      <div class="cust-sales-tech-wraper-info-title">
        Customer Service Associates 
      </div>
      <div class="cust-sales-tech-wraper-title-img">
        <%= image_tag('smiley.png', alt: 'smiley-icon') %>
      </div>
    </div>
    <p>
      Committed to client satisfaction, VXI is on the lookout for Customer Service Associates who are passionate about providing excellent service to customers. Work with us and be inspired to be your best every day!
    </p>
    <div class="cust-sales-tech-wraper-title">
      <div class="cust-sales-tech-wraper-info-title">
        Sales Associates 
      </div>
      <div class="cust-sales-tech-wraper-title-img-dollar">
        <%= image_tag('dollar.png', alt: 'dollar-icon') %>
      </div>
    </div>
    <p>
      Being a Sales Associate is all about having the right Customer Service skills, Communication skills and Persistence! VXI is looking for individuals with confidence, enthusiasm and above all, passion to make a sale and seal the deal.
    </p>


    <div class="cust-sales-tech-wraper-title">
      <div class="cust-sales-tech-wraper-info-title">
       Technical Support Associates
      </div>
      <div class="cust-sales-tech-wraper-title-img-gears">
        <%= image_tag('gears.png', alt: 'gears-icon') %>
      </div>
    </div>
    <p>
      An expert in troubleshooting, Tech Support Associates are always ready to solve every technical difficulty our clients will encounter. VXI is in search of dedicated, committed and passionate techy individuals that will contribute to the success of the whole team. Join us and experience a family in your workplace.
    </p>
  </div>
</div>  
